server:
  http_listen_port: 9080
  grpc_listen_port: 41117

clients:
  - url: http://loki:3100/api/prom/push

scrape_configs:
  - job_name: 'mongo'
    static_configs:
      - targets:
          - 'localhost'
        labels:
          job: 'mongo'
          __path__: /var/log/mongo/*.log

