global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'job']
  group_wait: 30s
  group_interval: 30s
  repeat_interval: 30s
  receiver: 'discord'

receivers:
  - name: 'discord'
    webhook_configs:
      - url: 'http://discord-alerts:9094'
        send_resolved: true

